@import url("./main.css");
@import url("../section.css");
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav{

   /* border: 2px solid;*/
    height:45px;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    
    width: 100%;
    z-index:11111;
}

#sub-nav{
   /* border: 2px solid red;*/
    height: inherit;
    width: 65%;
    margin:auto;
}
#sub-nav ol{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,.8);
}

#sub-nav ol li{
    cursor: pointer;
}

#nav1{
   /* border: 2px solid;*/
    height: 45px;
    position: relative;
    top: 40px;
    background-color: rgba(255,255,255,0.8);
}


#sub-nav1{
    /*border: 2px solid red;*/
    height: inherit;
    width: 51%;
    margin: auto;
    padding-top: 10px;
}

#sub-nav1 span{
    font-size: 14px;
    color: #1d1d1f;
    font-weight: 200;

    
}
#sub-nav1 span a{
    text-decoration: none;
}